.login-wrapper {
  padding-top: 50px;
}

.form {
  width: 50%;
  overflow: hidden;
  padding-top: 40px;
  margin:auto;		
}

.form{
  max-width: 400px;
  height: 600px;
  background-color: #D8D8D8;
  float:left;		
}

.title{
    background-color: #558C89;
    color: white;
    height: 6%;
    font-size: 23px;
    text-align: center;
    padding: 10px;
}

.form{	
  max-width: 400px;
    height: 315px;
    background-color: #D8D8D8;
    float: left;
    margin-left: 2%;
}

.title{
    background-color: #558C89;
    color: white;
    height: 10%;
    font-size: 23px;
    text-align: center;
    padding: 10px;	
}
