.login-wrapper {
  padding-top: 50px;
  margin:auto;
  max-width:800px;
}

.login-wrapper .form {
  width: 50%;	
}

.form{
  max-width: 380px;
  background-color: #D8D8D8;
  float:left;	
  margin: 10px;	
}

.title{
  background-color: #558C89;
  color: white;
  height: 6%;
  font-size: 23px;
  text-align: center;
  padding: 10px;
}
