#profile-wrapper{	
    text-align: center;	
}

#user-profile{
	
    padding: 2%;
    color: white;
    font-size: 25px;
    background-color: #558C89;
    /* margin-bottom: 10%; */
    /* border-radius: 10px; */
    margin-bottom: 63px;
	
}

#user-picture{
	
    max-width: 400px;
    margin: auto;
	
	
}

#user-name{
	
    padding: 10px;
    color: #d9853b;
    font-size: 40px;
    margin-bottom: 6%;
	
}

#user-about, #user-email, #user-about, #user-alergies{
margin:20px;
font-size: 30px;	
}

@media screen and (max-width: 600px) {

#profile-wrapper{	
	
	margin: auto;
	max-width: 80%;
	margin-top:10%;
	text-align: center;		
}

#user-profile{
	
	padding: 10%;
	color: white;
	font-size: 25px;
	background-color:#558C89;
	margin-bottom: 10%;
	border-radius: 10px;
	
}

#user-picture{
	
	max-width: 200px;
	margin: auto;
	
	
}

#user-name{
	
	padding: 10px;
	color: #d9853b;
	font-size: 150%;
	margin-bottom: 10%;	
}

#user-about{
	
	margin:20px;
	
}
}
